/* div{
    display: flex;
} */

body {
    width: 80%;
    background-color: whitesmoke;
}

div img {
    width: 350px;
    border-radius: 5%;
}

.recimg img {
    width: 600px;
    border-radius: 5%;
}